@use "colors";

.hide {
    display: none !important;
}

.show {
    display: grid !important;
}

.active svg {
    color: colors.$dark;
    background: colors.$gold;
    box-shadow: colors.$boxshadow;
    border-radius: 6px;
}