@use "colors";

#root {
  display: grid;
}

body {
    background: radial-gradient(
      circle,
      rgba(135, 23, 27, 1) 0%,
      rgba(84, 6, 8, 1) 100%
    );
    background: url(../../public/img/bacround.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    display: grid;
    margin: 0;
    overflow: hidden;
  }

  main {
    margin: 4rem 2rem 8rem 2rem;
    border: 2px solid colors.$pale;
    outline: 2px solid colors.$pale;
    outline-offset: 4px;
    width: 80%;
    max-width: 800px;
    justify-self: center;
    overflow: scroll;
    height: 64%;
  } 

  main::-webkit-scrollbar {
    display: none;
  }