@use "colors";

h1,
p,
h2,
h3,
h4,
li,
label {
  color: colors.$pale;
  text-align: center;
  font-family: "Cinzel", serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
  font-family: "Tangerine", cursive;
}

h2,
h3 {
  font-weight: 100;
  margin: .8rem 0 .8rem 0;
}


li,
p {
  font-family: "Lato", sans-serif;
  text-align: left;
  padding: 0 1rem 1rem 1rem;
  font-weight: 300;
}

#Guestlist p {
  text-align: center;
}

.label {
  color: black;
  border-radius: 5px;
  font-weight: 600;
  padding: 0.2rem;
  font-family: "Cinzel", serif;
  background: colors.$gold;
}